body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#task-input {
    width: 50%;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #ccc;
}

#add-task-btn {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#add-task-btn:hover {
    background-color: #3e8e41;
}

#task-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pending-task-list, #completed-task-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

#pending-task-list li, #completed-task-list li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

#pending-task-list li:last-child, #completed-task-list li:last-child {
    border-bottom: none;
}

.completed {
    text-decoration: line-through;
}

.task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-item button {
    background-color: #ccc;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.task-item button:hover {
    background-color: #080707;
}